@import url(./blocks/root/root.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__controls/form__controls.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_reset/form__button_reset.css);
@import url(./blocks/form/__button/_disabled/form__button_disabled.css);
@import url(./blocks/form/__input-title/form__input-title.css);
@import url(./blocks/form/__input-span/form__input-span.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__nav-link/_active/header__nav-link_active.css);
@import url(./blocks/header/__nav-container/header__nav-container.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/evaluate/evaluate.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/home/home.css);
@import url(./blocks/about/about.css);
@import url(./blocks/predictions/predictions.css);
@import url(./blocks/predictions/_open/predictions_open.css);
@import url(./blocks/predictions/__content/predictions__content.css);
@import url(./blocks/predictions/__values/predictions__values.css);
@import url(./blocks/predictions/__prediction/predictions__prediction.css);
@import url(./blocks/predictions/__separate-models/predictions__separate-models.css);
@import url(./blocks/predictions/__model-name/predictions__model-name.css);
@import url(./blocks/predictions/__probability/predictions__probability.css);
@import url(./blocks/predictions/__close-btn/predictions__close-btn.css);
@import url(./blocks/predictions/__title/predictions__title.css);
@import url(./blocks/predictions/__text-paragraph/predictions__text-paragraph.css);
@import url(./blocks/info/__text-paragraph/info__text-paragraph.css);
@import url(./blocks/info/__text-span/info__text-span.css);
@import url(./blocks/info/__link/info__link.css);
@import url(./blocks/info/__text-span/_local/info__text-span_local.css);